@import '../../styles/utils/_mixins';

.projects__content {
  padding-block: 70px;

  @include onTablet {
    padding-top: 70px;
    padding-bottom: 0;
  }
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
