@import '../../styles/utils/_vars';

.dark-text {
  color: $darkText;
}

.green-text {
  color:$green;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile__content {
  display: block;

  @include onTablet {
    display: none;
  }
}