# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist

# testing
/coverage

# logs
*.log
logs

# temp files
*.tmp
*.temp

# environment
.env
.env.*
!.env.example

# editors
.vscode/
.idea/

# cache
.cache/
.vite/

# OS
.DS_Store
Thumbs.db

# misc
*.swp
*.swo

npm-debug.log*
yarn-debug.log*
yarn-error.log*