.grid {
  @include onTablet {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
  }

  @include onDesktop {
    column-gap: 30px;
    grid-template-columns: repeat(9, 1fr);
  }

  &__item {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}