// --- basic colors ---

$background-color: #05040B;
$color-primary: #ccd6f6;
$color-secondary: #929292;
$color-accent: #05C2DF;
$text-color: #929292;

// --- text colors ---

$text-primary: $color-primary;
$text-secondary: $color-secondary;
$text-accent: $color-accent;
