@import '../../styles/utils/_vars';

.menu__button {
  width: 35px;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-box__element {
  height: 2px;
  background-color: $green;
}


.button-box-top {
  width: 85%;
}

.button-box-inner {
  width: 60%;
}

.button-box-bottom {
  width: 25%;
}

.button-box .button-box__element {
  opacity: 0.5;
  animation-name: glowing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-box .button-box__element:nth-child(1) {
  animation-delay: 0.5s;
}

.button-box .button-box__element:nth-child(2) {
  animation-delay: 1s;
}

.button-box .button-box__element:nth-child(3) {
  animation-delay: 1.5s;
}