.footer {
  min-width: 320px;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: var(--blue);
  border-top: 3px solid var(--yellow);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.socials-item__link {
  display: block;
  height: 30px;
  width: 30px;
}

.github {
  background-image: url("../assets/images/icons/gitHub.svg");

  &:hover {
    background-image: url("../assets/images/icons/gitHub-yellow.svg");
  }
}

.linked-in {
  background-image: url("../assets/images/icons/linkedIn.svg");

  &:hover {
    background-image: url("../assets/images/icons/linkedIn-yellow.svg");
  }
}