@import '../../styles/utils/_mixins';

.home {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;

  @include onTablet {
    display: none;
  }

  &__title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }
}