.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__top {
  position: relative;
  bottom: 35px;
  text-align: center;
}

.home-page__top .start-page__title {
  margin-bottom: 15px;
}

.home-page__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.home-page__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.home-page__nav-link {
  color: $text-accent;
  font-size: 18px;
  font-weight: 400;
}
