@import '../../styles/utils/_mixins';
@import '../../styles/utils/_vars';


.home-page {
  text-align: center;
  height: calc(100vh - $headerHeight - $footerHeight);
  padding-top: 190px;
  background-color: $background;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & p {
      line-height: 175%;
    }
  }

  @include onTablet {
    display: none;
  }

  &__title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }
}