@import '../../styles/utils/_mixins';
@import '../../styles/utils/_vars';

.about-section {
  padding-block: 70px;

  @include onTablet {
    padding-top: 90px;
  }
}

.about__photo {
  margin: 0 auto 50px;
  background-image: url('../../assets/img/blocks/about/photo.png');
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 200px;
  border-radius: 50%;

  @include onTablet {
    margin: 0 0 70px;
    height: 280px;
    width: 280px;
  }
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
  color: $darkText;
}

.accented-text {
  color: $green;
  font-size: 18px;
  line-height: 150%;
  margin: 20px 0;
}

.title-text {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
}

.skills {
  margin: 20px 10px;
  padding-left: 20px;
  border-left: 1px solid $green;
}