.projects-page__description {
  margin-bottom: 70px;
  font-family: 'Roboto', sans-serif;
  line-height: 175%;
  text-align: justify;
  font-size: 14px;

  @include onDesktop {
    margin: 0 auto 110px;
    width: 920px;
    font-size: 18px;
  }
}

.projects-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include onDesktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects-page-item {
  width: 280px;
  height: 300px;
  min-width: 280px;
  box-shadow: 1px -1px 10px 5px rgba(204, 214, 246, 0.2);
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgba(10, 25, 47, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: all 0.5s ease;
  perspective: 1000px;

  &:hover {
    transform: scale(105%);
    box-shadow: 1px -1px 10px 5px rgba(100, 255, 218, 0.5);
  }

  @include onTablet {
    height: 318px;
  }

  @media (min-width: 400px) {
    width: 320px;
  }

  @media (min-width: 480px) {
    width: 400px;
  }

  @media (min-width: 560px) {
    width: 480px;
  }

  @media (min-width: 640px) {
    width: 560px;
  }

  @include onDesktop {
    width: 500px;
  }
}
