@import './styles/main';
@import './styles/utilities/_mixins';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: $background-color;
}


