.creater-info__content {
  margin: 0 auto;
  width: 255px;
}

.creater-info__text {
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
