@import '../../styles/utils/_vars';
@import '../../styles/utils/_mixins';

.contacts__content {
  padding-block: 70px;

  @include onTablet {
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
}

.contacts__list {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include onTablet {
    margin-bottom: 0;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $green;
}

.contacts__link {
  color: $lightText;
}

.map {
  width: 100%;
  box-shadow: 1px 0 7px 2px $green;
  border-radius: 4px;

  @include onTablet {
    width: 250px;
    height: 250px;
  }

  @include onDesktop {
    width: 600px;
    height: 400px;
  }
}